@import 'tailwindcss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1c1917;
  background-color: #fafaf9;
}

body {
  margin: 0;
  min-width: 320px;
}
